In [6]:
print("Hello Everyone!!!")
print("Hello\nWorld")

print("\nHello\n   World")
print("\n'Rohit's date of birth is 12/05/1999")

Hello Everyone!!!
Hello
World

Hello
   World

'Rohit's date of birth is 12/05/1999

In [7]:
x="Hello"
print(x)

Hello

In [8]:
x=1
y=1.0
z="1"
print(x,y,z)

1 1.0 1

In [13]:
a="Aayush"
b=" Kumar"
print(a+b)

Aayush Kumar

In [14]:
a="Aayush"
b=" (aayush)"
c=" Kumar"
print(a+b+c)

Aayush (aayush) Kumar

In [15]:
Name="Nikunj Bansal"
SapId=500069944
DOB="13 Oct 1999"
Address="UPES Bidholi"
Pincode=248007
Programme="AI and ML"
Sem=2
print(Name)
print(SapId)
print(DOB)
print(Address)
print(Pincode)
print(Programme)
print(Sem)

Nikunj Bansal
500069944
13 Oct 1999
UPES Bidholi
248007
AI and ML
2